:root {
    --gs-blue: #011E41;
    --gs-gold: #87714D;
    --gs-gray: #A3AAAE;
}

.gs-background-blue {
    background-color: var(--gs-blue);
    border-color: var(--gs-blue)
}

.gs-text-gray {
    color: var(--gs-gray)
}

.navbar-light .navbar-nav .nav-link {
    color: white;
} 

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--gs-gray)
}

.navbar-light .navbar-nav .nav-link:focus{
    color: var(--gs-gold)
}

